.main{
  background-image: url('../../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0d1431;
  min-height: 100vh;
  padding: 28px;
  display: flex; 
  justify-content: center;
  align-items: center;

  &__wrapper{
    display: flex; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  @media screen and (min-width: 992px){ 
    background-image: url('../../images/bg-desktop.svg');
    background-position: bottom;
    background-size: 100% 50%;

    &__wrapper{
      flex-direction: row;
    }
  }

}